@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorApp1.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager
<h3>Logout页面</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            ((AuthProvider)AuthProvider).MarkUserAsLoggedOut();
            NavigationManager.NavigateTo("/");
        }
    }
}
